<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="igloosec.monitor.mapper.ScheduleMapper">
    <insert id="insertLeadsInfo" parameterType="LeadsInfoVo">
        INSERT INTO leads_info(
                               partition_key
                              ,row_key
                              ,timestamp
                              ,product_id
                              ,customer_first_name
                              ,customer_last_name
                              ,customer_email
                              ,customer_phone
                              ,customer_country
                              ,customer_company
                              ,customer_title
                              ,lead_source
                              ,action_code
                              ,publisher_display_name
                              ,offer_display_name
                              ,created_time
                              ,description
                              ,crt_dtm
        )
        VALUES
        (
            #{partitionKey}
        ,#{rowKey}
        ,#{timestamp}
        ,#{productId}
        ,#{FirstName}
        ,#{LastName}
        ,#{Email}
        ,#{Phone}
        ,#{Country}
        ,#{Company}
        ,#{Title}
        ,#{leadSource}
        ,#{actionCode}
        ,#{publisherDisplayName}
        ,#{offerDisplayName}
        ,#{createdTime}
        ,#{description}
        ,(SELECT DATE_FORMAT(now(),'%Y%m%d%H%i%S'))
        )

    </insert>

    <insert id="insertResourceInfo" parameterType="List">
        INSERT INTO USER_DISK_USAGE values
        <foreach collection="list" item="item" separator=",">
            ( #{item.rscparam}
            , #{item.partitionName}
            , null
            , #{item.priority}
            , #{item.limits}
            , #{item.total}
            , #{item.free}
            , #{item.current}
            , #{item.data}
            , (SELECT DATE_FORMAT(now(),'%Y%m%d%H%i%S'))
            )
        </foreach>
        on duplicate key update
        rsg_grp = values(rsg_grp)
        ,partition_name = values(partition_name)
        ,priority = values(priority)
        ,limits = values(limits)
        ,total = values(total)
        ,free = values(free)
        ,current = values(current)
        ,data = values(data)
        ,crt_dtm = (SELECT DATE_FORMAT(now(),'%Y%m%d%H%i%S'))
    </insert>
</mapper>


