<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="igloosec.monitor.mapper.ResourceMapper">


    <select id="selectResourceList" resultType="ResourceVo">
        SELECT CONCAT(substring(date,7,10),"-",substring(date,1,2),"-",substring(date,4,2)) As date
        , MeterCategory As meterCategory ,meterSubCategory ,quantity,unitOfMeasure, round(costInBillingCurrency,5) As costInBillingCurrency
        FROM USED_AMOUNT


    </select>


</mapper>


