<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div th:insert="homeheader.html :: homeHeader"></div>

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">

    <!-- Navigation-->
    <div th:insert="homemenu.html :: homeMenu"></div>

    <!-- Page Content-->
    <header class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder" style="font-size: 70px" th:text="#{label.homeguide1}"></h1>
                <p class="lead fw-normal text-muted mb-0" style="font-size: 45px" th:text="#{label.homeguide2}"></p>
            </div>
        </div>
    </header>



    <section class="py-1">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <h3 class="fw-bolder mb-3">Step1</h3>
                <div class="col-lg-7"><img class="img-fluid rounded mb-5 mb-lg-0"
                                           src="image/guide2.png" alt="..."/></div>
                <div class="col-lg-5">
                    <h2 class="fw-bolder" th:text="#{label.homeguide6}"></h2>
                    <p class="lead fw-normal text-muted mb-0" th:text="#{label.homeguide7}"></p>
                    <p class="lead fw-normal text-muted mb-0" style="margin-top: 20px" th:text="#{label.homeguide8}"></p>
                </div>
            </div>
        </div>
    </section>

    <section class="py-1 bg-light">
        <div class="container px-5 my-5 bg-light">
            <div class="row gx-5 align-items-center">
                <h3 class="fw-bolder mb-3">Step2</h3>

                <div class="col-lg-7"><img class="img-fluid rounded mb-5 mb-lg-0"
                                           src="image/guide3.png" alt="..."/></div>
                <div class="col-lg-5">
                    <h2 class="fw-bolder" th:text="#{label.homeguide9}"></h2>
                    <p class="lead fw-normal text-muted mb-0" th:text="#{label.homeguide10}"> </p>
                    <p class="lead fw-normal text-muted mb-0" th:text="#{label.homeguide11}"> </p>
                    <p class="lead fw-normal text-muted mb-0" style="margin-top: 20px" th:text="#{label.homeguide12}"> </p>
                </div>
            </div>
        </div>
    </section>


    <section class="py-1">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <h3 class="fw-bolder mb-3">Step3</h3>

                <div class="col-lg-7"><img class="img-fluid rounded mb-5 mb-lg-0"
                                           src="image/guide4.png" alt="..."/></div>
                <div class="col-lg-5">
                    <h2 class="fw-bolder" th:text="#{label.homeguide13}"></h2>
                    <p class="lead fw-normal text-muted mb-0" th:text="#{label.homeguide14}"> </p>
                    <p class="lead fw-normal text-muted mb-0" th:text="#{label.homeguide15}"> </p>
                    <p class="lead fw-normal text-muted mb-0" th:text="#{label.homeguide16}"> </p>
                    <p class="lead fw-normal text-muted mb-0" style="margin-top: 20px" th:text="#{label.homeguide17}"> </p>
                </div>
            </div>
        </div>
    </section>


    <section class="py-1 bg-light">
        <div class="container px-5 my-5 bg-light">
            <div class="row gx-5 align-items-center">
                <h3 class="fw-bolder mb-3">Step4</h3>

                <div class="col-lg-7"><img class="img-fluid rounded mb-5 mb-lg-0"
                                           src="image/guide5.png" alt="..."/></div>
                <div class="col-lg-5">
                    <h2 class="fw-bolder" th:text="#{label.homeguide18}"></h2>
                    <p class="lead fw-normal text-muted mb-0" th:text="#{label.homeguide19}"> </p>
                    <p class="lead fw-normal text-muted mb-0" th:text="#{label.homeguide20}"> </p>
                    <p class="lead fw-normal text-muted mb-0" style="margin-top: 20px" th:text="#{label.homeguide21}"> </p>
                </div>
            </div>
        </div>
    </section>

<!--
    <section class="py-1">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <h3 class="fw-bolder mb-3">Step5</h3>

                <div class="col-lg-7"><img class="img-fluid rounded mb-5 mb-lg-0"
                                           src="image/guide6.png" alt="..."/></div>
                <div class="col-lg-5">
                    <h2 class="fw-bolder" th:text="#{label.homeguide22}"></h2>
                    <p class="lead fw-normal text-muted mb-0" th:text="#{label.homeguide23}"> </p>
                    <p class="lead fw-normal text-muted mb-0" style="margin-top: 20px" th:text="#{label.homeguide24}"> </p>
                </div>
            </div>
        </div>
    </section>
-->

</main>
<!-- Footer-->
<div th:insert="homefooter.html :: homeFooter"></div>

</body>
</html>
