<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:insert="homeheader.html :: homeHeader"></div>

<body class="d-flex flex-column">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <div th:insert="homemenu.html :: homeMenu"></div>

    <!-- Page Content-->
    <header class="py-5">
        <div class="container px-5">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xxl-6">
                    <div class="text-center my-5">
                        <h1 class="fw-bolder mb-3" style="font-size: 70px">One Step Ahead</h1>
                        <p class="lead fw-normal text-muted mb-10" th:text="#{label.home1}"></p>
                        <div><img class="img-fluid2 rounded mb-5 mb-lg-0"
                                  src="image/homeIntroduce.jpg" alt="..."/></div>
                        <a class="btn btn-primary btn-lg" style="margin-top: 20px" href="#scroll-target">Read our
                            story</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- About section one-->
    <section class="py-5 bg-light" id="scroll-target">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-7"><img class="img-fluid rounded mb-5 mb-lg-0"
                                           src="image/homepage1.png" alt="..." style=""/></div>
                <div class="col-lg-5">
                    <h2 class="fw-bolder" th:text="#{label.home2}"></h2>
                    <p class="lead fw-normal text-muted mb-0" th:text="#{label.home3}"> </p>
                </div>
            </div>
        </div>
    </section>
    <!-- About section two-->
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-7 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0"
                                                                     src="image/homepage2.png"
                                                                     alt="..."/></div>
                <div class="col-lg-5">
                    <h2 class="fw-bolder" th:text="#{label.home4}"></h2>
                    <p class="lead fw-normal text-muted mb-0" th:text="#{label.home5}"></p>
                </div>
            </div>
        </div>
    </section>

</main>
<!-- Footer-->
<div th:insert="homefooter.html :: homeFooter"></div>
</body>
</html>
