<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="homeMenu">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="/home"  style="background: url(image/homelogo.png) no-repeat;  background-position: center; background-size: contain; width: 270px; height: 70px;" ></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
<!--                    <li class="nav-item dropdown">-->
<!--                        <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">소개</a>-->
<!--                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">-->
<!--                            <li><a class="dropdown-item" href="/home">회사소개</a></li>-->
<!--                            <li><a class="dropdown-item" href="#">제품소개</a></li>-->
<!--                        </ul>-->
<!--                    </li>-->
                    <li class="nav-item"><a class="nav-link" href="/home">소개</a></li>
<!--                    <li class="nav-item"><a class="nav-link" href="/homesolution">솔루션</a></li>-->
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="/homesolution" role="button" data-bs-toggle="dropdown" aria-expanded="false">솔루션</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                        <li><a class="dropdown-item" href="/homesolution">솔루션 소개</a></li>
                        <li><a class="dropdown-item" href="/spiderTm">SPIDER TM</a></li>
                    </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/homefaq">Q&A</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">가이드센터</a></li>
                    <hr style="width: 0;  border-right: 2px solid #C7C8C9;  height: calc(4.375rem - 3rem);  margin: auto 1rem; ">
                    <li class="nav-item" ><a class="nav-link" href="/">MONITORING LOGIN</a></li>


                </ul>
            </div>
        </div>
    </nav>


</div>

</html>