<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<div th:insert="homeheader.html :: homeHeader"></div>


<body class="d-flex flex-column">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <div th:insert="homemenu.html :: homeMenu"></div>

    <!-- Page Content-->
    <section class="py-5">
        <div class="container px-5">
            <h1 class="fw-bolder fs-5 mb-4">Contents</h1>
            <div class="card border-0 shadow rounded-3 overflow-hidden">

            </div>
        </div>
    </section>
    <section class="py-5 bg-light">
        <div class="container px-5">
            <div class="row gx-5">
                <div class="col-xl-8">
                    <h2 class="fw-bolder fs-5 mb-4">News</h2>
                    <!-- News item-->

                </div>

            </div>
        </div>
    </section>
    <!-- Blog preview section-->
    <section class="py-5">
        <div class="container px-5">
            <h2 class="fw-bolder fs-5 mb-4">제품정보</h2>
            <div class="row gx-5">
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="image/spidertm1.PNG" alt="..." style="width:50%; margin-left: 20px;" />
                        <div class="card-body p-4">

                            <a class="text-decoration-none link-dark stretched-link" target="_blank" href="https://azuremarketplace.microsoft.com/en-us/marketplace/apps/1592878437854.igloosec_tm5?tab=Overview"><div class="h5 card-title mb-3">SPiDER TM V5.5 for Azure</div></a>
                            <p class="card-text mb-0">SPiDER TM is a SIEM(Security Information & Event Management) solution with 20 years of experience of Managed Security Services and Big data capabilities from IGLOO SECURITY.</p>
                        </div>

                    </div>
                </div>


            </div>
            <!--                    <div class="text-end mb-5 mb-xl-0">
                                    <a class="text-decoration-none" href="#!">
                                        More stories
                                        <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>-->
        </div>
    </section>
</main>
<!-- Footer-->
<div th:insert="homefooter.html :: homeFooter"></div>

</body>
</html>
