<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:replace="mainheader.html :: mainHead"></head>

<script type="text/javascript">


    function loginCheck() {
        $.ajax({
            url: "/login.do",
            type: "GET",
            data: {
                username: document.getElementById('email2').value,
                email: document.getElementById('email2').value,
                passwd: document.getElementById('pw2').value
            },
            success: function (data) {
                if(data == "idNull")
                    window.alert("가입하지 않은 아이디이거나, 잘못된 비밀번호입니다.")

                else{
                    if(data == "pwCheck") {
                        document.getElementById('pw2').value = "";
                        window.alert("가입하지 않은 아이디이거나, 잘못된 비밀번호입니다.")
                    }
                    else if(data == "Success"){

                        getImage()

                        // $("#imgID").attr("src", data);
                        //
                        // document.getElementById("login").hidden = true;
                        // document.getElementById("mfa").hidden = false;



                    }

                }

            }
        });
    }


    function getImage() {
        //console.log(document.getElementById('email2').value);

        $.ajax({
            url: "/getImage.do",
            type: "GET",
            data: {
                email: document.getElementById('email2').value
                //passwd: document.getElementById('pw2').value
            },
            success: function (data) {
                $("#imgID").attr("src", data);
                //console.log(data);

                document.getElementById("login").hidden = true;
                document.getElementById("mfa").hidden = false;

                document.getElementById("mfaId").focus();


            }
        });


    }



    function googleVerify() {

        $.ajax({
            url: "/googleVerify.do",
            type: "GET",
            data: {
                email: document.getElementById('email2').value,
                mfacode: document.getElementById('mfaId').value
            },
            success: function (data) {
                if(data=='success' ) location.href="/main";
                else window.alert("코드가 일치하지 않습니다.")

            }
        });
    }






</script>




<body class="bg-gradient-primary">


<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9" id="login">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row" >
                        <div class="col-lg-6 d-none d-lg-block"
                             style="background: url(image/IGLOO.jpg) no-repeat; background-position: center; background-size: contain;"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Monitoring System</h1>
                                </div>
<!--                                <div class="user">-->
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control form-control-user"
                                               id="email2" aria-describedby="emailHelp"
                                               placeholder="Enter Email Address...">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="passpw" class="form-control form-control-user"
                                               id="pw2" placeholder="Password" onKeyPress="if (event.keyCode==13){loginCheck();}">
                                    </div>
                                    <div class="form-group">

                                    </div>
                                    <button class="btn btn-primary btn-user btn-block" id="button" onclick="loginCheck()">
                                        Login
                                    </button>

                                    <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}">

                                <a class="float-right mr-1" href="/reset" style="cursor: pointer" >Forgot password?</a>
                                <div class="form-group" >
                                    <img src="/image/azure.png" style="height: 70px;">
                                </div>
                                



                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>



        <div class="col-xl-5 col-lg-12 col-md-9" id="mfa" hidden="true">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-3">
                    <!-- Nested Row within Card Body -->


                    <div class="row"  >


                        <div class="col-lg-12">
                            <div >

                                <div class="mt-1">
                                    <h1 class="h4 text-gray-900 mb-2 font-weight-bold"  >Google OTP Code</h1>
                                </div>

                                <input  class="form-control form-control-user"
                                       id="mfaId"
                                       placeholder="Enter 6 codes..."  onKeyPress="if (event.keyCode==13){googleVerify();}">

                                <button class="btn btn-primary btn-user btn-block" id="button2" onclick="googleVerify()">
                                    Verify
                                </button>

                                <div class="mt-4">

                                    <h5 class="text-gray-900 mb-2"><i class="fas fa-qrcode"></i>OTP 설정방법</h5>
                                </div>

                                <span>1.Android: Google OTP 앱을 다운로드합니다.<br></span>
                                <span> &nbsp;&nbsp;  iPhone: Google Authenticator 앱을 다운로드합니다.<br></span>
                                <span>2.앱에서 계정설정을 선택합니다. <br></span>
                                <span>3.바코드 스캔을 선택합니다. <br></span>


                                <div class="text-center">
                                    <img  id="imgID" src="https://www.google.com/chart?chs=100x100&chld=M|0&cht=qr&chl=otpauth://totp/IGLOOSECURITY?secret=TRAAK43PKVDK2Y5IO7HLABG2J244RFTQ&issuer=IGLOOSECURITY">
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="col-xl-5 col-lg-12 col-md-9" id="reset" hidden="true">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-3">
                    <!-- Nested Row within Card Body -->


                    <div class="row"  >


                        <div class="col-lg-12">
                            <div >

                                <div class="mt-1">
                                    <h1 class="h4 text-gray-900 mb-2 font-weight-bold"  >Forgot password?</h1>
                                </div>

                                <input  class="form-control form-control-user mb-1"
                                        id="nameID"
                                        placeholder="Name">
                                <input  class="form-control form-control-user mb-3"
                                        id="emailID"
                                        placeholder="Email Address"  onKeyPress="if (event.keyCode==13){pwReset();}">



                                <button class="btn btn-primary btn-user btn-block" id="button3" onclick="pwReset()">
                                    Password Reset
                                </button>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

</body>


<footer th:replace="mainfooter.html :: footer" ></footer>

</html>