<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="mainheader.html :: mainHead"></head>


<script type="text/javascript">
    //$.noConflict();
    // chart colors
    var lineChartData;

    var tablelength = 0;


    var chartData = [, , , , , , , , , ,
        , , , , , , , , , ,
        , , , , , , , , , ,];
    var chartLabels = [];

    var chartData2 = [, , , , , , , , , ,
        , , , , , , , , , ,
        , , , , , , , , , ,];
    var chartLabels2 = [];

    var pieChartData = [];
    var pieChartLabels = [];


    var chartLabeltemp = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10',
        '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
        '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31'];


    var barData = [];

    let sumUsage = 0;
    let sumMoney = 0;
    var sumbefore = 0;
    var thisLabel = "";
    var lastLabel = "";

    let parameter = "";
    let lastparameter = "";

    let parameterYear = "";
    let parameterMonth = "";


    window.onload = function () {


        //console.log();

        let sessionRsc = document.getElementById("rscgrp").innerText;

        if (sessionRsc != "") {

            document.getElementById("dashboard").hidden = false;

            document.getElementById("logsource").hidden = true;

            let today = new Date();
            let year = today.getFullYear();  // 월
            let month = today.getMonth() + 1;  // 월


            // parameter setting;
            if (month < 10) parameter = year + "-0" + month;
            else parameter = year + "-" + month;


            if (month < 10) parameterMonth = "0" + month;
            else parameterMonth = month;
            parameterYear = year;


            let monthVal = month * 1;

            document.getElementById("thisMon1").innerText = monthVal + '월처리량'
            document.getElementById("thisMon2").innerText = monthVal + '월 일평균처리량'
            document.getElementById("thisMon3").innerText = monthVal + '월 LOG 사용금액'
            document.getElementById("thisMon4").innerText = monthVal + '월 LOG 처리량'
            thisLabel = monthVal + '월';

            let date = new Date();
            let firstDayOfMonth = new Date(date.getFullYear(), date.getMonth(), 1);
            let lastMonth = new Date(firstDayOfMonth.setDate(firstDayOfMonth.getDate() - 1));


            let monthValLast = (lastMonth.getMonth() + 1) * 1;
            let yearLast = lastMonth.getFullYear();

            if (monthValLast < 10) lastparameter = yearLast + "-0" + monthValLast;
            else lastparameter = yearLast + "-" + monthValLast;

            console.log(lastparameter);

            document.getElementById("lastMon1").innerText = monthValLast + '월처리량'
            document.getElementById("lastMon2").innerText = monthValLast + '월 LOG 처리량'

            lastLabel = monthValLast + '월';


            getMeterSum();
            getMeterDetailList();
            getUsageList();
            setTimeout(getChatdata(), 1000);
        } else {

            document.getElementById("dashboard").hidden = true;
            document.getElementById("div_load_image").hidden = true;

            document.getElementById("logsource").hidden = false;
        }


    }

    function addFrm() {
        var el = $("input").attr({"type":"text", "name":"", "class":"" });
        console.log(el);
        $("#pnl").append(el);
    }


    function getUsageList() {

        $.ajax({
            url: "/getUsageList.do",
            type: "GET",
            data: {paramDate: parameter},
            success: function (data) {
                tablelength = data.length;
                var table = $('#usageTable').dataTable({
                    aaData: data,

                    bPaginate: false,
                    bLengthChange: true,
                    bInfo: false,
                    bAutoWidth: false,
                    processing: true,
                    ordering: true,
                    serverSide: false,
                    searching: false,
                    columns: [
                        {data: "idate"},
                        {data: "usage_data"}

                    ]
                });

                var rows = document.getElementById("usageTable").getElementsByTagName("tr");


                for (var r = 1; r < tablelength + 1; r++) {
                    var cells = rows[r].getElementsByTagName("td");

                    var usage_cell = cells[1].innerText;

                    sumUsage += usage_cell * 1;
                    sumMoney += usage_cell * 1 * 3.497;


                }

                document.getElementById("usage").innerText = sumUsage / 1000 + "GB";
                document.getElementById("everage").innerText = Math.round(sumUsage / tablelength) + "MB";
                document.getElementById("money").innerText = comma(Math.round(sumMoney)) + "원";

                sumMoney = Math.round(sumMoney);

            }, error: function (request, status, error) {
                getUsageList();
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        });


    }


    function getMeterSum() {

        var params = {
            paraYear: parameterYear,
            paraMonth: parameterMonth
        };


        $.getJSON("/getMeterSum.do", params, function (data) {

            $.each(data, function (inx, obj) {

                pieChartLabels.push(obj.meterCategory);
                pieChartData.push(obj.costInBillingCurrency * 1);

            });
            createPieChart();
        });

    }


    function getMeterDetailList() {

        $.ajax({
            url: "/getMeterDetailList.do",
            type: "GET",
            data: {
                paraYear: parameterYear,
                paraMonth: parameterMonth
            },
            success: function (data) {
                var table = $('#meterDetailTable').dataTable({
                    aaData: data,

                    bPaginate: false,
                    bLengthChange: true,
                    bInfo: false,
                    bAutoWidth: false,
                    processing: true,
                    ordering: true,
                    serverSide: false,
                    searching: false,
                    columns: [
                        {data: "meterCategory"},
                        {data: "meterSubCategory"},
                        {data: "unitOfMeasure"},
                        {data: "quantity"}

                    ]
                });


            }, error: function (request, status, error) {
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        });


    }


    function getChatdata() {

        var params = {
            paramDate: parameter
        };

        var lastparams = {
            paramDate: lastparameter
        };

        $.getJSON("/getChartList.do", params, function (data) {


            $.each(data, function (inx, obj) {

                chartLabels.push(obj.idate + "일");
                chartData[(obj.idate * 1) - 1] = obj.usage_data;


            });

            $.getJSON("/getChartListbefore.do", lastparams, function (data2) {


                $.each(data2, function (inx, obj) {

                    chartLabels2.push(obj.idate + "일");
                    chartData2[(obj.idate * 1) - 1] = obj.usage_data;
                    sumbefore += obj.usage_data * 1;


                });


                lineChartData = {

                    labels:

                        ['1일', '2일', '3일', '4일', '5일', '6일', '7일', '8일', '9일', '10일',
                            '11일', '12일', '13일', '14일', '15일', '16일', '17일', '18일', '19일', '20일',
                            '21일', '22일', '23일', '24일', '25일', '26일', '27일', '28일', '29일', '30일', '31일'

                        ],
                    //chartLabels2,

                    datasets: [

                        {


                            lineTension: 0.3,
                            backgroundColor: "rgba(78, 115, 223, 0.05)",
                            borderColor: "rgba(78, 115, 223, 1)",
                            pointRadius: 3,
                            pointBackgroundColor: "rgba(78, 115, 223, 1)",
                            pointBorderColor: "rgba(78, 115, 223, 1)",
                            pointHoverRadius: 3,
                            pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                            pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                            pointHitRadius: 10,
                            pointBorderWidth: 2,

                            data: chartData


                        },
                        {


                            lineTension: 0.3,
                            backgroundColor: "rgba(255, 115, 223, 0.05)",
                            borderColor: "rgba(255, 115, 223, 1)",
                            pointRadius: 3,
                            pointBackgroundColor: "rgba(255, 115, 223, 1)",
                            pointBorderColor: "rgba(255, 115, 223, 1)",
                            pointHoverRadius: 3,
                            pointHoverBackgroundColor: "rgba(255, 115, 223, 1)",
                            pointHoverBorderColor: "rgba(255, 115, 223, 1)",
                            pointHitRadius: 10,
                            pointBorderWidth: 2,

                            data: chartData2


                        }


                    ]

                }

                createChart();

                document.getElementById("beforedata").innerText = sumbefore / 1000 + "GB";
                barData.push(Math.round(sumbefore * 3.497));
                barData.push(Math.round(sumMoney));

                createBarChart();


                document.getElementById("div_load_image").hidden = true;

            }).fail(function () {
                getChatdata();
            });

        }).fail(function () {
            getChatdata();
        });

    }

    function createBarChart() {
        var ctx = document.getElementById("myBarChart");

        var data = {
            type: 'bar',
            data: {
                labels:
                    [lastLabel, thisLabel],
                datasets: [{
                    label: "사용금액",
                    backgroundColor: "#4e73df",
                    hoverBackgroundColor: "#2e59d9",
                    borderColor: "#4e73df",
                    data: barData,

                }]
            },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                    }
                },
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'month'
                        },
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        ticks: {
                            maxTicksLimit: 6
                        },
                        maxBarThickness: 25,
                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,

                            maxTicksLimit: 5,
                            padding: 5,
                            // Include a dollar sign in the ticks
                            callback: function (value, index, values) {
                                return number_format(value) + '원';
                            }
                        },
                        gridLines: {
                            color: "rgb(234, 236, 244)",
                            zeroLineColor: "rgb(234, 236, 244)",
                            drawBorder: false,
                            borderDash: [2],
                            zeroLineBorderDash: [2]
                        }
                    }],
                },
                legend: {
                    display: false
                },
                tooltips: {
                    titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                    titleFontSize: 14,
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    caretPadding: 10,
                    callbacks: {
                        label: function (tooltipItem, chart) {
                            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                            return datasetLabel + ':' + number_format(tooltipItem.yLabel) + '원';
                        }
                    }
                },
            }
        }
        var chart = new Chart(ctx, data);

    }


    function createPieChart() {
        var ctx = document.getElementById("myPieChart");
        var myPieChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: pieChartLabels,
                datasets: [{
                    data: pieChartData,
                    backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc', '#9467BD', '#FFA95D', '#D62728', '#69A4CD'],
                    hoverBackgroundColor: ['#858796', '#858796', '#858796', '#858796', '#858796', '#858796', '#858796'],
                    hoverBorderColor: "rgba(234, 236, 244, 1)",
                }],
            },
            options: {
                maintainAspectRatio: false,
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    borderColor: '#dddfeb',
                    borderWidth: 5,
                    xPadding: 10,
                    yPadding: 10,
                    displayColors: false,
                    caretPadding: 5,
                    callbacks: {
                        label: function (tooltipItem, data) {
                            var dataset = data.datasets[tooltipItem.datasetIndex];
                            var total = dataset.data.reduce(function (previousValue, currentValue, currentIndex, array) {
                                return previousValue + currentValue;
                            });
                            var currentValue = dataset.data[tooltipItem.index];
                            var percentage = Math.floor(((currentValue / total) * 100) + 0.5);
                            return "비율: " + percentage + "%, 금액:" + currentValue + "원";
                        }
                    }


                },
                legend: {
                    display: true
                },
                cutoutPercentage: 40,
            },
        });

    }

    function createChart() {

        var ctx = document.getElementById("myDailyChart").getContext("2d");


        var myChart = Chart.Line(ctx, {

            data: lineChartData,

            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                    }
                },
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'date'
                        },
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        ticks: {
                            maxTicksLimit: 7
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            maxTicksLimit: 5,
                            padding: 10,
                            // Include a dollar sign in the ticks
                            callback: function (value, index, values) {
                                return number_format(value) + 'MB';
                            }
                        },
                        gridLines: {
                            color: "rgb(234, 236, 244)",
                            zeroLineColor: "rgb(234, 236, 244)",
                            drawBorder: false,
                            borderDash: [2],
                            zeroLineBorderDash: [2]
                        }
                    }],
                },
                legend: {
                    display: false
                },
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                    titleFontSize: 14,
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    intersect: false,
                    mode: 'index',
                    caretPadding: 10,
                    callbacks: {
                        label: function (tooltipItem, chart) {
                            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                            return datasetLabel + number_format(tooltipItem.yLabel) + 'MB';
                        }
                    }
                }
            }

        })


    }

    function comma(num) {
        var len, point, str;

        num = num + "";
        point = num.length % 3;
        len = num.length;

        str = num.substring(0, point);
        while (point < len) {
            if (str != "") str += ",";
            str += num.substring(point, point + 3);
            point += 3;
        }

        return str;

    }

    function number_format(number, decimals, dec_point, thousands_sep) {
        // *     example: number_format(1234.56, 2, ',', ' ');
        // *     return: '1 234,56'
        number = (number + '').replace(',', '').replace(' ', '');
        var n = !isFinite(+number) ? 0 : +number,
            prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
            sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
            dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
            s = '',
            toFixedFix = function (n, prec) {
                var k = Math.pow(10, prec);
                return '' + Math.round(n * k) / k;
            };
        // Fix for IE parseFloat(0.55).toFixed(0) = 0;
        s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
        if (s[0].length > 3) {
            s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
        }
        if ((s[1] || '').length < prec) {
            s[1] = s[1] || '';
            s[1] += new Array(prec - s[1].length + 1).join('0');
        }
        return s.join(dec);
    }


</script>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!--<div th:insert="sidemenu.html :: side_menu"></div>-->

    <div id="div_load_image"
         style="position: absolute; top:50%; left: 50%; width:0px ; height: 0px; z-index: 9999; background: #f0f0f0; margin:auto; ">
        <img src="/image/loading.gif" style="width:100px; height: 100px; ">
    </div>

    <!--    <th:block layout:fragment="side_menu"></th:block>-->

    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/main">

            <div class="sidebar-brand-text mx-3">Monintoring System</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/main">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Dashboard</span></a>
        </li>


        <li class="nav-item active">
            <a class="nav-link" href="">
                <i class="fas fa-fw fa-money-check"></i>
                <span>비용관리</span></a>
        </li>


        <li class="nav-item active">
            <a class="nav-link" href="/resource">
                <i class="fas fa-fw fa-chart-pie"></i>
                <span>자원관리</span></a>
        </li>


        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item active" th:if="${session['auth']} =='ROLE_ADMIN'">
            <a class="nav-link" href="/member">
                <i class="fas fa-fw fa-user"></i>
                <span>사용자관리</span></a>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>


    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>


                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">


                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                                  th:text="${session['email']}"> </span>
                            <span id="rscgrp" hidden="true" th:text="${session['rscgrp']}"> </span>
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->


            <!-- Begin Page Content -->
            <div class="container-fluid" id="dashboard">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>

                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">


                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1"
                                             style="font-size: 20px;" id="lastMon1">

                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="beforedata"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                                             style="font-size: 20px;" id="thisMon1">

                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="usage"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1"
                                             style="font-size: 20px;" id="thisMon2">
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="everage"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pending Requests Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1"
                                             style="font-size: 20px;" id="thisMon3">

                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="money"></div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Content Row -->

                <div class="row">

                    <!-- Area Chart -->
                    <div class="col-xl-8 col-lg-7">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->

                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">일별 LOG 처리량 그래프</h6>

                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area">
                                    <canvas id="myDailyChart" style="height: 500px !important;"></canvas>
                                </div>
                                <div class="mt-4 text-center small">
                                    <i class="fas fa-circle text-primary"></i>
                                    <span class="mr-2" id="thisMon4">

                                        </span>

                                    <i class="fas fa-circle text-success"
                                       style="color:rgba(255, 115, 223, 1) !important; "></i>
                                    <span class="mr-2" id="lastMon2">


                                        </span>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pie Chart -->
                    <div class="col-xl-4 col-lg-5">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->

                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Azure Resource</h6>

                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area" style="height: 365px !important;">
                                    <canvas id="myPieChart"></canvas>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>

                <!-- Content Row -->
                <div class="row">


                    <div class="col-xl-3 col-lg-4">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">월별 금액 비교</h6>

                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area" style="height: 250px;">
                                    <canvas id="myBarChart"></canvas>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Area Chart -->


                    <div class="col-xl-3 col-lg-4">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->

                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">일별 LOG 처리량</h6>

                            </div>
                            <!-- Card Body -->
                            <div class="card-body" style="height: 290px;">
                                <div class="card shadow h-100 py-2">
                                    <div class="table-responsive" style="overflow:auto; height: 100%">
                                        <table class="table table-bordered" id="usageTable" cellspacing="0">
                                            <thead style="text-align: center; position: sticky; top: 0px; ">
                                            <tr>

                                                <th>날짜</th>
                                                <th>LOG처리량(MB)</th>

                                            </tr>
                                            </thead>

                                            <tbody style="text-align: center">
                                            <!--<tr th:each="usageList : ${list}">
                                               <td th:text="${usageList.idate}"></td>
                                               <td th:text="${usageList.usage_data}"></td>
                                           </tr>-->
                                            </tbody>
                                        </table>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="col-xl-6 col-lg-6">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Azure 리소스별 사용량</h6>

                            </div>
                            <!-- Card Body -->
                            <div class="card-body">

                                <div class="card shadow h-100 py-2" style="height:250px !important;">
                                    <div class="table-responsive" style="overflow:auto; height: 100%">
                                        <table class="table table-bordered" id="meterDetailTable" cellspacing="0">
                                            <thead style="text-align: center; position: sticky; top: 0px; ">
                                            <tr>

                                                <th>리소스분류</th>
                                                <th>세부</th>
                                                <th>단위</th>
                                                <th>사용량</th>


                                            </tr>
                                            </thead>

                                            <tbody style="text-align: center">

                                            </tbody>
                                        </table>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>


                    `
                </div>

            </div>
            <!-- /.container-fluid -->

            <div class="container-fluid" id="logsource">

                <form method="post">
                    <div class="modal-body">
                        <div class="row mt-1 mb-3">
                            <div class="col-xl-12 col-lg-6" >
                                <span style="color: black; font-size: 50px; font-weight: bold; " > WELCOME Page. </span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-xl-3 col-lg-6" >
                                <span class="text-dark"> Email: </span>
                            </div>

                            <input  type="text" name="email" placeholder="이메일 입력해주세요">
                            <button type="button" id="addBtn" class="btn btn-sm" onclick="addFrm();">
                                <i class="fas fa-plus"></i> 추가추가
                            </button>

                        </div>
                        <div id="pnl"></div>



                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary"  type="submit" >등록</button>
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>

                    </div>

                </form>
            </div>




        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer th:replace="mainfooter.html :: footer"></footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">LOGOUT 하시겠습니까?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--<div class="modal-body">LOGOUT 하시겠습니까?</div>-->
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/">Logout</a>
            </div>
        </div>
    </div>
</div>


</body>

</html>