<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<footer class="sticky-footer bg-white" th:fragment="footer" style="text-align: center; padding: initial;">
    <ul class="navbar-nav  " style="flex-direction: inherit;">




        <li class="nav-item active ml-4 mr-4">
            <a class="nav-link" href="http://www.igloosec.co.kr/" target="_blank">

                <span>&copy; IGLOO SECURITY</span></a>
        </li>

        <li class="nav-item active ml-4">

            <a class="nav-link" href="/policy">
                <span>개인정보 처리방침</span>
            </a>
        </li>


    </ul>


</footer>
</html>