<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html">

<head th:replace="mainheader.html :: mainHead"></head>

<script type="text/javascript">
    window.onload = function () {

        getMemberList();
        getManagerList();




    }

    function check_pw(){
        var pw = document.getElementById('pw').value;
        var SC = ["!","@","#","$","%","^","&","*"];
        var check_SC = 0;

        if(pw.length < 8 || pw.length>16){
            window.alert('비밀번호는 8글자 이상, 16글자 이하만 이용 가능합니다.');
            document.getElementById('pw').value='';
        }
        for(var i=0;i<SC.length;i++){
            if(pw.indexOf(SC[i]) != -1){
                check_SC = 1;
            }
        }
        if(check_SC == 0){
            window.alert('특수문자를 한 개 이상 포함해야합니다.')
            document.getElementById('pw').value='';
        }

        if(document.getElementById('pw').value !='' && document.getElementById('pw2').value!=''){
            if(document.getElementById('pw').value==document.getElementById('pw2').value){
                document.getElementById('check').innerHTML='비밀번호가 일치합니다.'
                document.getElementById('check').style.color='blue';
            }
            else{
                document.getElementById('check').innerHTML='비밀번호가 일치하지 않습니다.';
                document.getElementById('check').style.color='red';
            }
        }
    }

    function goData(){
        if ( document.getElementById('pw').value =='') {
            window.alert('비밀번호는 공백이 불가합니다.');
        }
        else if(document.getElementById('pw').value!=document.getElementById('pw2').value){
            window.alert('비밀번호가 일치하지 않습니다.');
        }
        else{
            modify();
        }
    }

    function modify(){
        $.ajax({
            url: "/modifyUser",
            type: "POST",
            data: {passwd: document.getElementById('pw').value
            },
            success: function (data) {
                document.getElementById('pw').value ="";
                document.getElementById('pw2').value="";
                window.alert('비밀번호가 변경되었습니다.');
            }
        })
    }

    let buttonclicked;

    function getMemberList() {

        $.ajax({
            url: "/getMemberList.do",
            type: "GET",
            success: function (data) {
                tablelength = data.length;
                var table = $('#userTable').dataTable({
                    aaData: data,

                    bPaginate: false,
                    bLengthChange: true,
                    bInfo: false,
                    bAutoWidth: false,
                    processing: true,
                    ordering: true,
                    serverSide: false,
                    searching: false,

                    columns: [
                        /*  { title: "", "defaultContent": "<button onclick='deleteitem();'>Delete</button>" },*/
                        {data: "company"},
                        {data: "email"},
                        {data: "auth"},
                        {data: "regDate"},
                        {data: "email",
                            "render": function(data, type, row){
                                if(type=='display'){
                                    data = '<button class="mb-2 mr-2 btn btn-info btn-sm">Edit</button>';
                                    data += '<button class="mb-2 mr-2 btn btn-danger btn-sm">Del</button>';
                                }
                                return data;
                            }
                        }
                    ],

                });


                var table = $('#userTable').DataTable();


                $('#userTable tbody').on('click', 'tr .btn', function () {
                    var tr = $(this).closest('tr');
                    var dt = table.row( tr ).data();

                    if($(this).text() == "Edit"){

                        $(".modal-body #email").val( dt.email)
                        $(".modal-body #company2").val( dt.company)
                        $('input:radio[name=auth]:input[value=ROLE_USER]').attr("checked", true);
                        $('#membermodify').modal("show");

                    } else if($(this).text() == "Del"){
                        console.log("del:"+dt.rscGrp) ;
                        document.getElementById("emailChk").innerHTML=dt.email;
                        document.getElementById("rscGrpChk").innerHTML=dt.rscGrp;
                        $('#deleteModal').modal("show");
                        //deleteUser();

                    }
                });




            }, error: function (request, status, error) {
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        });

    }

    function getManagerList() {

        $.ajax({
            url: "/getMemberList.do",
            type: "GET",
            success: function (data) {
                tablelength = data.length;
                var table = $('#manageTable').dataTable({
                    aaData: data,

                    bPaginate: false,
                    bLengthChange: true,
                    bInfo: false,
                    bAutoWidth: false,
                    processing: true,
                    ordering: true,
                    serverSide: false,
                    searching: false,

                    columns: [
                        /*  { title: "", "defaultContent": "<button onclick='deleteitem();'>Delete</button>" },*/
                        {data: "company"},
                        {data: "email"},
                        {data: "auth"},
                        {data: "regDate"},
                    ],

                });



            }, error: function (request, status, error) {
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        });

    }



    function deleteUser(){


        $.ajax({
            url: "/deleteUser",
            type: "POST",
            data: {
                email: document.getElementById('emailChk').innerHTML,
                rscGrp: document.getElementById('rscGrpChk').innerHTML
            },

            success: function (data) {
                window.alert("삭제가 완료되었습니다.");
                location.reload();

            }
        })
    }


</script>


<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <div th:insert="sidemenu.html :: side_menu"></div>


    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">


            <div th:insert="topmenu.html :: top_menu"></div>


            <!-- Begin Page Content -->
            <div class="container-fluid"  th:if="${session['auth']} =='ROLE_ADMIN'">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">사용자관리</h1>

                </div>

                <div class="row">

                    <!-- Area Chart -->
                    <div class="col-xl-12 col-lg-10">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->

                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="color:white;">
                                <h6 class="m-0 font-weight-bold text-primary">사용자리스트  </h6>

                                <span id="emailChk"  hidden="true"></span>
                                <span id="rscGrpChk"  hidden="true"></span>
                                <li class="nav-item dropdown no-arrow" >



                                    <a type="button"  class="btn btn-primary" data-toggle="modal"
                                       data-target="#memberModal" hidden="true">
                                        사용자 추가
                                    </a>


                                    <a type="button" class="btn btn-primary" data-toggle="modal"
                                       data-target="#deleteModal"  hidden="true">
                                        사용자 제거
                                    </a>

                                </li>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="card shadow h-100 py-2">
                                    <div class="table-responsive" style="overflow:auto; height: 100%">
                                        <table class="table table-bordered" id="userTable" cellspacing="0">
                                            <thead style="text-align: center; position: sticky; top: 0px; ">
                                            <tr>

                                                <th>회사명</th>
                                                <th>Email 주소</th>
                                                <th>사용자 유형</th>
                                                <th>등록일</th>
                                                <th></th>

                                            </tr>
                                            </thead>

                                            <tbody style="text-align: center">

                                            </tbody>
                                        </table>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>

            <div class="container-fluid"  th:if="${session['auth']} =='ROLE_MANAGER'">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">사용자관리</h1>

                </div>

                <div class="row">

                    <!-- Area Chart -->
                    <div class="col-xl-12 col-lg-10">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->

                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="color:white;">
                                <h6 class="m-0 font-weight-bold text-primary">사용자리스트  </h6>

                                <span id="emailChk"  hidden="true"></span>
                                <span id="rscGrpChk"  hidden="true"></span>
                                <li class="nav-item dropdown no-arrow" >



                                    <a type="button"  class="btn btn-primary" data-toggle="modal"
                                       data-target="#memberModal" hidden="true">
                                        사용자 추가
                                    </a>


                                    <a type="button" class="btn btn-primary" data-toggle="modal"
                                       data-target="#deleteModal"  hidden="true">
                                        사용자 제거
                                    </a>

                                </li>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="card shadow h-100 py-2">
                                    <div class="table-responsive" style="overflow:auto; height: 100%">
                                        <table class="table table-bordered" id="manageTable" cellspacing="0">
                                            <thead style="text-align: center; position: sticky; top: 0px; ">
                                            <tr>

                                                <th>회사명</th>
                                                <th>Email 주소</th>
                                                <th>사용자 유형</th>
                                                <th>등록일</th>
                                            </tr>
                                            </thead>

                                            <tbody style="text-align: center">

                                            </tbody>
                                        </table>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>



            <div class="container-fluid"  th:if="${session['auth']} =='ROLE_USER'">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">비밀번호변경 </h1>

                </div>

                <div class="row">

                    <!-- Area Chart -->
                    <div class="col-xl-12 col-lg-10">
                        <div class="card shadow mb-4">

                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="card shadow h-100 py-2">
                                    <!--<form method="post"  name ="modify" onsubmit="goData()">-->
                                    <div class="modal-body">

                                        <div class="row mb-3">
                                            <div class="col-xl-2 col-lg-6">
                                                <span class="text-dark"> 새 비밀번호 </span>
                                            </div>
                                            <input type="password" name="passwd" id="pw" onchange="check_pw()" placeholder="새 비밀번호">
                                        </div>

                                        <div class="row mb-3">
                                            <div class="col-xl-2 col-lg-6">
                                                <span class="text-dark"> 새 비밀번호 확인 </span>
                                            </div>
                                            <input type="password" name="passwdconfirm"  id="pw2" onchange="check_pw()"placeholder="새 비밀번호 확인">&nbsp;<span id="check"></span>
                                        </div>


                                    </div>
                                    <div class="modal-footer" style="text-align: left">
                                        <button class="btn btn-primary"  id = "btn" onclick="goData()" >변경</button>
                                    </div>

                                    <!--  </form>-->

                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <footer th:replace="mainfooter.html :: footer"></footer>

    </div>


</div>


<div class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">사용자 정보</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form th:action="@{/joinUser}" method="post">
                <div class="modal-body">
                    <!--               <div class="row mt-1 mb-3">
                                       <div class="col-xl-12 col-lg-6" >
                                           <span style="color: red"> TM을 설치한 후에 진행하시고, 리소스 그룹명을 정확히 입력해주시기 바랍니다. </span>
                                       </div>
                                   </div>-->

                    <div class="row mt-1 mb-3">
                        <div class="col-xl-3 col-lg-6">
                            <span class="text-dark"> Email: </span>
                        </div>

                        <input type="text" name="email" placeholder="이메일 입력해주세요">

                    </div>
                    <div class="row mb-3">
                        <div class="col-xl-3 col-lg-6">
                            <span class="text-dark"> Password: </span>
                        </div>
                        <input type="password" name="passwd" placeholder="비밀번호">
                    </div>
                    <div class="row mb-3">
                        <div class="col-xl-3 col-lg-6">
                            <span class="text-dark"> 권한: </span>
                        </div>
                        <!--<input type="text" name="auth" placeholder="권한">-->

                        <label class="radio-inline mr-1">
                            <input type="radio" name="auth" id="inlineRadio1" value="ROLE_USER"> 사용자
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="auth" id="inlineRadio2" value="ROLE_ADMIN"> 관리자
                        </label>
                    </div>

                    <div class="row mb-3">
                        <div class="col-xl-3 col-lg-6">
                            <span class="text-dark"> 리소스그룹: </span>
                        </div>
                        <input type="text" name="rscGrp">
                    </div>


                    <div class="row mb-3">
                        <div class="col-xl-3 col-lg-6">
                            <span class="text-dark"> TM IP 주소: </span>
                        </div>
                        <input type="text" name="ipAddr">
                    </div>


                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">등록</button>
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>

                </div>

            </form>
        </div>
    </div>

</div>






<div class="modal fade" id="membermodify" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">사용자 수정</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form th:action="@{/modifyGrpIp}" method="post">
                <div class="modal-body">
                    <!--               <div class="row mt-1 mb-3">
                                       <div class="col-xl-12 col-lg-6" >
                                           <span style="color: red"> TM을 설치한 후에 진행하시고, 리소스 그룹명을 정확히 입력해주시기 바랍니다. </span>
                                       </div>
                                   </div>-->

                    <div class="row mt-1 mb-3">
                        <div class="col-xl-3 col-lg-6">
                            <span class="text-dark"> Email: </span>
                        </div>

                        <input type="text" name="email" id="email" readonly>

                    </div>

                    <div class="row mb-3">
                        <div class="col-xl-3 col-lg-6">
                            <span class="text-dark"> 회사명: </span>
                        </div>
                        <input type="text" name="company" id="company2">
                    </div>


                    <div class="row mb-3">
                        <div class="col-xl-3 col-lg-6">
                            <span class="text-dark"> 사용자 유형: </span>
                        </div>
                        <!--<input type="text" name="auth" placeholder="권한">-->

                        <label class="radio-inline mr-1">
                            <input type="radio" name="auth" id="inlineRadio11" value="ROLE_USER"> 사용자
                        </label>
                        <label class="radio-inline  mr-1">
                            <input type="radio" name="auth" id="inlineRadio22" value="ROLE_MANAGER"> 매니저
                        </label>
                        <label class="radio-inline  mr-1">
                            <input type="radio" name="auth" id="inlineRadio33" value="ROLE_ADMIN"> 관리자
                        </label>
                    </div>


                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">수정</button>
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>

                </div>

            </form>
        </div>
    </div>

</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">삭제하시겠습니까?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div>

                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" onclick="deleteUser()">삭제</button>
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>

                </div>

            </div>
        </div>
    </div>

</div>



</body>


</html>