<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/html">

<head th:replace="mainheader.html :: mainHead"></head>

<script type="text/javascript">

    let userEmail =  "";
    const diskSizeMap = new Map();

    // insert key-value-pair
    diskSizeMap.set('1024','1,024 GiB');
    diskSizeMap.set('2048','2,048 GiB');
    diskSizeMap.set('4096','4,096 GiB');
    diskSizeMap.set('8192','8,192 GiB');
    diskSizeMap.set('16384', '16,384 GiB');
    diskSizeMap.set('32767','32,767 GiB');


    window.onload = function () {
        userEmail = $('#userEmail').text();
        getMemberList();
        getManagerList();

        getUserInfo();
        getUserProductInfoList();
        clearPwdUpdateModal();
        $("#changePwdBtn").on("click", function(){ changePwd() });
        $("#userInfoSaveBtn").on("click", function(){ setUserInfoSave() });
    }

    let buttonclicked;

    function getMemberList() {

        $.ajax({
            url: "/getMemberList.do",
            type: "GET",
            success: function (data) {
                tablelength = data.length;
                var table = $('#userTable').dataTable({
                    aaData: data,

                    bPaginate: false,
                    bLengthChange: true,
                    bInfo: false,
                    bAutoWidth: false,
                    processing: true,
                    ordering: true,
                    serverSide: false,
                    searching: false,

                    columns: [
                        /*  { title: "", "defaultContent": "<button onclick='deleteitem();'>Delete</button>" },*/
                        {data: "company"},
                        {data: "email"},
                        {data: "auth"},
                        {data: "regDate"},
                        {data: "email",
                            "render": function(data, type, row){
                                if(type=='display'){
                                    data = '<button class="mb-2 mr-2 btn btn-info btn-sm">Edit</button>';
                                    data += '<button class="mb-2 mr-2 btn btn-danger btn-sm">Del</button>';
                                }
                                return data;
                            }
                        }
                    ],

                });


                var table = $('#userTable').DataTable();


                $('#userTable tbody').on('click', 'tr .btn', function () {
                    var tr = $(this).closest('tr');
                    var dt = table.row( tr ).data();

                    if($(this).text() == "Edit"){

                        $(".modal-body #email").val( dt.email)
                        $(".modal-body #company2").val( dt.company)
                        $('input:radio[name=auth]:input[value=ROLE_USER]').attr("checked", true);
                        $('#membermodify').modal("show");

                    } else if($(this).text() == "Del"){
                        console.log("del:"+dt.rscGrp) ;
                        document.getElementById("emailChk").innerHTML=dt.email;
                        document.getElementById("rscGrpChk").innerHTML=dt.rscGrp;
                        $('#deleteModal').modal("show");
                        //deleteUser();

                    }
                });




            }, error: function (request, status, error) {
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        });

    }

    function getManagerList() {

        $.ajax({
            url: "/getMemberList.do",
            type: "GET",
            success: function (data) {
                tablelength = data.length;
                var table = $('#manageTable').dataTable({
                    aaData: data,

                    bPaginate: false,
                    bLengthChange: true,
                    bInfo: false,
                    bAutoWidth: false,
                    processing: true,
                    ordering: true,
                    serverSide: false,
                    searching: false,

                    columns: [
                        /*  { title: "", "defaultContent": "<button onclick='deleteitem();'>Delete</button>" },*/
                        {data: "company"},
                        {data: "email"},
                        {data: "auth"},
                        {data: "regDate"},
                    ],

                });



            }, error: function (request, status, error) {
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        });

    }



    function deleteUser(){


        $.ajax({
            url: "/deleteUser",
            type: "POST",
            data: {
                email: document.getElementById('emailChk').innerHTML,
                rscGrp: document.getElementById('rscGrpChk').innerHTML
            },

            success: function (data) {
                window.alert("삭제가 완료되었습니다.");
                location.reload();

            }
        })
    }


    function getUserInfo() {

        $.ajax({
            url: "/getUserInfo",
            type: "POST",
            data: {
                email: userEmail
            },
            success: function (data) {
                if(data == '') {
                    return;
                }
                $('#companyInput').val(data.company);
                $('#emailInput').val(data.email);
                $('#phoneInput').val(data.phone);
                $('#regdateInput').val(data.regDate.substring(0, 10));
            }, error: function (request, status, error) {
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        });

    }

    function changePwd() {
        var currentPwd = $('#currentPwInput').val();
        var newPwd = $('#newPwInput').val();
        var confirmPwd = $('#confirmPwInput').val();


        if(currentPwd == '' || newPwd == '' || confirmPwd == '') {
            alert('값을 입력해 주세요.');
            $('#currentPwInput').val();
            $('#newPwInput').val();
            $('#confirmPwInput').val();
            return;
        }

        if(currentPwd == newPwd) {
            alert('동일한 패스워드로는 변경 할 수 없습니다.');
            return;
        }

        if(newPwd != confirmPwd){
            alert('비밀번호가 일치하지 않습니다.');
            return;
        }

        modifyUserPwd();
    }

    function modifyUserPwd(){
        $.ajax({
            url: "/modifyUserPwd",
            type: "POST",
            data: {
                email: userEmail
                ,currentPwd: $('#currentPwInput').val()
                ,newPwd: $('#newPwInput').val()
            },
            success: function (data) {
                if(data != '') {
                    alert(data);
                } else {
                    alert("비밀번호가 변경되었습니다.");
                    $('#userPasswordModal').modal("hide");
                    clearPwdUpdateModal();
                }
            }, error: function (request, status, error) {
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        })
    }

    function check_pw(){
        var newPwd = $('#newPwInput').val();
        var confirmPwd = $('#confirmPwInput').val();
        var SC = ["!","@","#","$","%","^","&","*"];
        var check_SC = 0;

        if(newPwd.length < 8 || newPwd.length>16){
            window.alert('비밀번호는 8글자 이상, 16글자 이하만 이용 가능합니다.');
            $('#newPwInput').val('');
            return;
        }
        for(var i=0;i<SC.length;i++){
            if(newPwd.indexOf(SC[i]) != -1){
                check_SC = 1;
            }
        }
        if(check_SC == 0){
            window.alert('특수문자를 한 개 이상 포함해야합니다.')
            $('#newPwInput').val('');
            return;
        }

        if(newPwd != '' && confirmPwd != ''){
            if(newPwd == confirmPwd){
                $('#checkPw').text('비밀번호가 일치합니다.');
                $("#checkPw").css("color","blue");
            }
            else{
                $('#checkPw').text('비밀번호가 일치하지 않습니다.');
                $("#checkPw").css("color","red");
            }
        }
    }

    function getUserProductInfoList() {
        var selectBoxId = 0;
        $.ajax({
            url: "/getUserProductInfoList.do",
            type: "POST",
            data: {
                email: userEmail
            },
            success: function (data) {
                $('#resourceTable').dataTable({
                    aaData: data,
                    bPaginate: false,
                    bLengthChange: true,
                    bInfo: false,
                    bAutoWidth: false,
                    processing: true,
                    ordering: false,
                    serverSide: false,
                    searching: false,
                    columnDefs: [{
                       targets:[0],
                       searchable: false,
                       visible: false
                    }],
                    columns: [
                        {data: "applyId"},
                        {data: "cloud_vendor"},
                        {data: "product"},
                        {data: "country"},
                        {data: "autoscalingYN",
                            "render": function(data, type, row) {
                                //console.log('autoscalingYN : ' + data + ' / ' + type + ' / ' + row);
                                if (row.autoscalingYN == 'Y') {
                                    data = '<input type="checkbox" checked/>';
                                } else {
                                    data = '<input type="checkbox"/>';
                                }
                                return data;
                            }
                        },
                        {data: "criticalValue",
                            "render": function(data, type, row) {
                                //console.log('criticalValue : ' + data + ' / ' + type + ' / ' + row);
                                data = '<input type="number" min="0" max="100" style="width:100%; border:0; text-align:center;" value="' + row.criticalValue + '">';
                                return data;
                            }
                        },
                        {data: "disksize",
                            "render": function(data, type, row, meta) {
                                var data = '';

                                if(row.autoscalingYN == 'Y') {
                                    data += '<select class="form-control" style="font-size:0.5rem" name="selectDiskNm" id="diskCapacity' + selectBoxId + '">';
                                } else {
                                    data += '<select class="form-control" style="font-size:0.5rem;visibility:hidden" name="selectDiskNm" id="diskCapacity' + selectBoxId + '">';
                                }

                                for (let [key, value] of diskSizeMap) {
                                    if(row.disksize == key) {
                                        data += '   <option value="' + key + '" selected>' + value + '</option>';
                                    } else {
                                        data += '   <option value="' + key + '">' + value + '</option>';
                                    }
                                }
                                data += '   </select>';
                                return data;
                            }
                        }
                    ]

                });


            }, error: function (request, status, error) {
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        });
    }

    function setUserInfoSave() {
        var param = {};
        param.email = userEmail;
        var list = new Array();
        var table = $('#resourceTable').DataTable();

        var list = [];
        //var index = 0;
        var tableRetChk = true;
        $("#resourceTable tbody").each(function() {
            var tdLen = $(this).find("td").length;
            var trLen = $(this).find("tr").length;

            if(trLen == 0) {
                return true;
            }

            var division = tdLen / trLen;

            //console.log('trLen : ' + trLen);
            //console.log('tdLen : ' + tdLen);
            //console.log('division : ' + division);

            for(var i=0; i < trLen; i++) {                                      // tr loop
                var vo = new Object();                                          // vo to send to controller
                var tr = $(this).find("tr").eq(i);                              // find tr value
                vo.applyId = table.cells({ row: i, column: 0 }).data()[0];      // hidden value find, field[0]
                //console.log(table.cells({ row: i, column: 0 }).data()[0]);
                for(var j=0; j < division; j++) {                               // tr loop
                    var child = tr.find("td").eq(j).children();                 // find td children value
                    if(child.length != 0) {                                     // If children are present, search for child values
                        var type = child[0].type;                               // type check
                        if(type == 'checkbox') {
                            vo.autoscalingYN = child.prop("checked");
                            //console.log(child.prop("checked"));
                        } else if(type == 'number') {
                            if(child.val() == null || child.val() == '') {
                                alert("임계치는 0 ~ 100 사이로 설정 가능합니다.");
                                tableRetChk = false;
                                return false;
                            }
                            var num = child.val() * 1;
                            //console.log(num);
                            vo.criticalValue = child.val()
                            if(num < 0 || num > 100) {
                                alert("임계치는 0 ~ 100 사이로 설정 가능합니다.");
                                tableRetChk = false;
                                return false;
                            }
                        } else if(type == 'select-one') {
                            //console.log(child.val());
                            vo.disksize = child.val()
                        }
                    } else {                                                   //  Find the current value if there are no children
                        // vendor
                        if(j == 0) {
                            vo.cloud_vendor = $(this).find("td").eq(j).text(); // field[0] -> vendor
                        // product
                        } else if(j == 1) {
                            vo.product = $(this).find("td").eq(j).text();      // field[1] -> product
                        // country
                        } else if(j == 2) {
                            vo.country = $(this).find("td").eq(j).text();      // field[2] -> country
                        }
                    }
                }
                list.push(vo);
            }
        });

        // resourceTable work result
        if(tableRetChk == false) {
            return;
        }

        param.list = list;
        param.company = $('#companyInput').val();

        $.ajax({
            url: "/setUserInfoSave",
            type: "POST",
            dataType: 'json',
            data: {
                param: JSON.stringify(param)
            },
            success: function (data) {
                if(data == true) {
                    window.alert("업데이트에 성공했습니다.");
                    location.reload();
                } else {
                    window.alert("업데이트에 실패했습니다.");
                }

            }, error: function (request, status, error) {
                console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
        })
    }

    function clearPwdUpdateModal() {
        $('#currentPwInput').val('');
        $('#newPwInput').val('');
        $('#confirmPwInput').val('');
        $('#checkPw').text('');
    }

</script>


<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <div th:insert="sidemenu.html :: side_menu"></div>


    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">


            <div th:insert="topmenu.html :: top_menu"></div>


            <!-- Begin Page Content -->
            <div class="container-fluid"  th:if="${session['auth']} =='ROLE_ADMIN'">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800" th:text="#{label.usermanagement}"></h1>

                </div>

                <div class="row">

                    <!-- Area Chart -->
                    <div class="col-xl-12 col-lg-10">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->

                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="color:white;">
                                <h6 class="m-0 font-weight-bold text-primary" th:text="#{label.userlist}"></h6>

                                <span id="emailChk"  hidden="true"></span>
                                <span id="rscGrpChk"  hidden="true"></span>
                                <li class="nav-item dropdown no-arrow" >



                                    <a type="button"  class="btn btn-primary" data-toggle="modal"
                                       data-target="#memberModal" hidden="true">
                                        사용자 추가
                                    </a>


                                    <a type="button" class="btn btn-primary" data-toggle="modal"
                                       data-target="#deleteModal"  hidden="true">
                                        사용자 제거
                                    </a>

                                </li>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="card shadow h-100 py-2">
                                    <div class="table-responsive" style="overflow:auto; height: 100%">
                                        <table class="table table-bordered" id="userTable" cellspacing="0">
                                            <thead style="text-align: center; position: sticky; top: 0px; ">
                                            <tr>

                                                <th th:text="#{label.company}"></th>
                                                <th>Email</th>
                                                <th th:text="#{label.usertype}"></th>
                                                <th th:text="#{label.regdate}"></th>
                                                <th></th>

                                            </tr>
                                            </thead>

                                            <tbody style="text-align: center">

                                            </tbody>
                                        </table>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>

            <div class="container-fluid"  th:if="${session['auth']} =='ROLE_MANAGER'">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800"  th:text="#{label.usermanagement}"></h1>

                </div>

                <div class="row">

                    <!-- Area Chart -->
                    <div class="col-xl-12 col-lg-10">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->

                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="color:white;">
                                <h6 class="m-0 font-weight-bold text-primary" th:text="#{label.userlist}">  </h6>

                                <span id="emailChk"  hidden="true"></span>
                                <span id="rscGrpChk"  hidden="true"></span>
                                <li class="nav-item dropdown no-arrow" >
                                    <a type="button"  class="btn btn-primary" data-toggle="modal"
                                       data-target="#memberModal" hidden="true">
                                        사용자 추가
                                    </a>


                                    <a type="button" class="btn btn-primary" data-toggle="modal"
                                       data-target="#deleteModal"  hidden="true">
                                        사용자 제거
                                    </a>

                                </li>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="card shadow h-100 py-2">
                                    <div class="table-responsive" style="overflow:auto; height: 100%">
                                        <table class="table table-bordered" id="manageTable" cellspacing="0">
                                            <thead style="text-align: center; position: sticky; top: 0px; ">
                                            <tr>

                                                <th th:text="#{label.company}"></th>
                                                <th>Email</th>
                                                <th th:text="#{label.usertype}"></th>
                                                <th th:text="#{label.regdate}"></th>
                                            </tr>
                                            </thead>

                                            <tbody style="text-align: center">

                                            </tbody>
                                        </table>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>



            <div class="container-fluid"  th:if="${session['auth']} =='ROLE_USER'">
                <span id="userEmail" th:text="${session['email']}" hidden="true"> </span>
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-2">
                    <h1 class="h3 mb-0 text-gray-800" th:text="#{label.userinformation}"> </h1>
                </div>

                <div class="row">
                    <!-- Area Chart -->
                    <div class="col-xl-6 col-lg-5">
                        <div class="card shadow">

                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="card shadow h-100">
                                    <div class="modal-body">
                                        <div class="row">
                                            <table class="table-bordered col-xl-12 col-lg-10" cellspacing="0" id="userInfoTable">
                                                <thead style="text-align: center; position: sticky; top: 0px; background-color: white;">
                                                <tr>
                                                    <th th:text="#{label.company}" style="width:30%"></th>
                                                    <td>
                                                        <input type="text" size="20" style="width:100%; border:0" id="companyInput">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th style="width:30%">Email</th>
                                                    <td>
                                                        <input type="text" size="20" style="width:100%; border:0" id="emailInput" disabled>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th th:text="#{label.phonenumber}" style="width:30%"></th>
                                                    <td>
                                                        <input type="text" size="20" style="width:100%; border:0" id="phoneInput">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th th:text="#{label.regdate}" style="width:30%"></th>
                                                    <td>
                                                        <input type="text" size="20" style="width:100%; border:0" id="regdateInput" disabled>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th th:text="#{label.password}" style="width:30%"></th>
                                                    <td>
                                                        <button style="color:#fff; background-color:#36b9cc; border-color:#36b9cc; float:left; font-size:small"
                                                                th:text="#{label.passwordchange}" data-toggle="modal" data-target="#userPasswordModal" ></button>
                                                    </td>
                                                </tr>
                                                <!--
                                                <tr>
                                                    <th th:text="#{label.payment}" style="width:30%"></th>
                                                    <td>
                                                        <button style="color:#fff; background-color:#36b9cc; border-color:#36b9cc; float:left; font-size:small"
                                                                th:text="#{label.payment}" data-toggle="modal" data-target="#paymentModal" ></button>
                                                    </td>
                                                </tr>
                                                -->
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mt-4 mb-2">
                    <h1 class="h3 mb-0 text-gray-800" th:text="#{label.resourceinfolist}"> </h1>
                </div>

                <div class="row">
                    <!-- Area Chart -->
                    <div class="col-xl-12 col-lg-10">
                        <div class="card shadow mb-4">

                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="card shadow h-100 py-2">
                                    <!--<form method="post"  name ="modify" onsubmit="goData()">-->
                                    <div class="modal-body">
                                        <div class="row mb-3">
                                            <div class="table-responsive" style="overflow:auto;">
                                                <table class="table table-bordered" id="resourceTable" cellspacing="0">
                                                    <thead style="text-align: center; position: sticky; top: 0px; ">
                                                    <tr>
                                                        <th rowspan="2" style="vertical-align : middle;text-align:center;">applyId</th>
                                                        <th rowspan="2" style="vertical-align : middle;text-align:center;">Vendor</th>
                                                        <th rowspan="2" style="vertical-align : middle;text-align:center;" th:text="#{label.product}"></th>
                                                        <th rowspan="2" style="vertical-align : middle;text-align:center;" th:text="#{label.country}"></th>
                                                        <th colspan="3" th:text="#{label.diskautoscaling}"></th>
                                                    </tr>
                                                    <tr>
                                                        <th th:text="#{label.autoscaling}"></th>
                                                        <th th:text="#{label.criticalvalue}"></th>
                                                        <th th:text="#{label.extendedsize}"></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody style="text-align: center">
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <button class="btn btn-primary"  id ="userInfoSaveBtn" th:text="#{label.save}"></button>
            </div>

        </div>

        <footer th:replace="mainfooter.html :: footer"></footer>

    </div>


</div>


<div class="modal fade" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">사용자 정보</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form th:action="@{/joinUser}" method="post">
                <div class="modal-body">
                    <!--               <div class="row mt-1 mb-3">
                                       <div class="col-xl-12 col-lg-6" >
                                           <span style="color: red"> TM을 설치한 후에 진행하시고, 리소스 그룹명을 정확히 입력해주시기 바랍니다. </span>
                                       </div>
                                   </div>-->

                    <div class="row mt-1 mb-3">
                        <div class="col-xl-3 col-lg-6">
                            <span class="text-dark"> Email: </span>
                        </div>

                        <input type="text" name="email" placeholder="이메일 입력해주세요">

                    </div>
                    <div class="row mb-3">
                        <div class="col-xl-3 col-lg-6">
                            <span class="text-dark"> Password: </span>
                        </div>
                        <input type="password" name="passwd" placeholder="비밀번호">
                    </div>
                    <div class="row mb-3">
                        <div class="col-xl-3 col-lg-6">
                            <span class="text-dark"> 권한: </span>
                        </div>
                        <!--<input type="text" name="auth" placeholder="권한">-->

                        <label class="radio-inline mr-1">
                            <input type="radio" name="auth" id="inlineRadio1" value="ROLE_USER"> 사용자
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="auth" id="inlineRadio2" value="ROLE_ADMIN"> 관리자
                        </label>
                    </div>

                    <div class="row mb-3">
                        <div class="col-xl-3 col-lg-6">
                            <span class="text-dark"> 리소스그룹: </span>
                        </div>
                        <input type="text" name="rscGrp">
                    </div>


                    <div class="row mb-3">
                        <div class="col-xl-3 col-lg-6">
                            <span class="text-dark"> TM IP 주소: </span>
                        </div>
                        <input type="text" name="ipAddr">
                    </div>


                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">등록</button>
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>

                </div>

            </form>
        </div>
    </div>

</div>






<div class="modal fade" id="membermodify" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">사용자 수정</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form th:action="@{/modifyGrpIp}" method="post">
                <div class="modal-body">
                    <!--               <div class="row mt-1 mb-3">
                                       <div class="col-xl-12 col-lg-6" >
                                           <span style="color: red"> TM을 설치한 후에 진행하시고, 리소스 그룹명을 정확히 입력해주시기 바랍니다. </span>
                                       </div>
                                   </div>-->

                    <div class="row mt-1 mb-3">
                        <div class="col-xl-3 col-lg-6">
                            <span class="text-dark"> Email: </span>
                        </div>

                        <input type="text" name="email" id="email" readonly>

                    </div>

                    <div class="row mb-3">
                        <div class="col-xl-3 col-lg-6">
                            <span class="text-dark"> 회사명: </span>
                        </div>
                        <input type="text" name="company" id="company2">
                    </div>


                    <div class="row mb-3">
                        <div class="col-xl-3 col-lg-6">
                            <span class="text-dark"> 사용자 유형: </span>
                        </div>
                        <!--<input type="text" name="auth" placeholder="권한">-->

                        <label class="radio-inline mr-1">
                            <input type="radio" name="auth" id="inlineRadio11" value="ROLE_USER"> 사용자
                        </label>
                        <label class="radio-inline  mr-1">
                            <input type="radio" name="auth" id="inlineRadio22" value="ROLE_MANAGER"> 매니저
                        </label>
                        <label class="radio-inline  mr-1">
                            <input type="radio" name="auth" id="inlineRadio33" value="ROLE_ADMIN"> 관리자
                        </label>
                    </div>


                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">수정</button>
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>

                </div>

            </form>
        </div>
    </div>

</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">삭제하시겠습니까?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div>

                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" onclick="deleteUser()">삭제</button>
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>

                </div>

            </div>
        </div>
    </div>

</div>

<div class="modal fade" id="userPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userPasswordModalLabel" th:text="#{label.passwordchange}"></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div>
                <div class="modal-content">
                    <table class="table-bordered col-xl-10 col-lg-8" style="margin-left:auto;margin-right:auto" cellspacing="0">
                        <thead style="text-align: center; position: sticky; top: 0px; background-color: white;">
                        <tr>
                            <th th:text="#{label.currentpassword}" style="width:30%"></th>
                            <td>
                                <input type="password" size="20" style="width:100%; border:0" id="currentPwInput">
                            </td>
                        </tr>
                        <tr>
                            <th th:text="#{label.newpassword}" style="width:30%"></th>
                            <td>
                                <input type="password" size="20" style="width:100%; border:0" id="newPwInput" onchange="check_pw()">
                            </td>
                        </tr>
                        <tr>
                            <th th:text="#{label.newpasswordconfirm}" style="width:30%"></th>
                            <td>
                                <input type="password" size="20" style="width:100%; border:0" id="confirmPwInput"  onchange="check_pw()">
                            </td>
                        </tr>
                        </thead>
                    </table>
                    <div style="text-align: center">
                        <span id="checkPw">&nbsp</span>
                    </div>
                </div>
                <div class="modal-footer" style="float:left">
                    <button class="btn btn-primary" type="button" th:text="#{label.save}" id="changePwdBtn"></button>
                    <button class="btn btn-secondary" type="button" data-dismiss="modal" th:text="#{label.cancel}"></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="paymentModalLabel" th:text="#{label.payment}"></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal" th:text="#{label.cancel}"></button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>


</html>

<script type="text/javascript">
    $(document).ready(function(){

        $(document).on('click', "#resourceTable input[type=checkbox]", function (){
            var el = $(this).closest("tr").find("select");
            //el.css("display", $(this).prop("checked") ? "" : "none");
            el.css("visibility", $(this).prop("checked") ? "visible" : "hidden");
        });
    });
</script>