<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="mainheader.html :: mainHead">

</head>

<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>

<script type="text/javascript">
    let sessionRsc =  "";
    let igloosec =  "";
    let done =  "";

    window.onload = function () {
        sessionRsc = document.getElementById("rscgrp").innerText;
    }

    function test2(){
        let IMP = window.IMP;
        igloosec = $('#igloosec').text();

        IMP.init("imp75713203");

       //IMP.init("imp76010426");
        IMP.request_pay({
            pg : 'kcp_billing', //KCP일반결제는 kcp이며, KCP빌링결제는 kcp_billing 으로 구분됩니다.
            pay_method : 'card', // 'card'만 지원됩니다.
            merchant_uid : new Date().getTime(),
            name : 'Cloud Register',
            amount : 0, // 결제창에 표시될 금액. 실제 승인이 이뤄지지는 않습니다. (PC에서는 가격이 표시되지 않음)
            customer_uid : 'osbiz@igloosec.com', //customer_uid 파라메터가 있어야 빌링키 발급을 시도합니다.
            buyer_email : 'osbiz@igloosec.com',
            buyer_name : igloosec,
            buyer_tel : '02-1234-1234'
        }, function(rsp) {
            if ( rsp.success ) {
                var msg = $('#paymentcomp').text();
                msg += 'PG사: ' + rsp.pg_provider;

                console.log(rsp);
                /*$.ajax({
                    url: "/billingKey.do",
                    type: "POST",
                    contentType : "application/json",
                    data: {
                        customer_uid:"customer-test-id-0001"
                    },
                    success: function (data) {
                        window.alert("완료되었습니다.");
                    }
                })*/
            } else {
                //alert('빌링키 발급 실패');
            }
        });
    }

    function test(){
        done = $('#paymentcomp').text();

        $.ajax({
            url: "/paymentTest.do",
            type: "POST",
            contentType : "application/json",
            data: {
                customer_uid:"customer-test-id-0001",
                merchant_uid:"merchant_1628050394529",
                amount:3000
            },
            success: function (data) {
                window.alert(done);
            }
        })
    }

    function testBilling() {

        // 인증 토큰 발급받기
        $.ajax({
            url: "https://api.iamport.kr/users/getToken",
            type: "POST",
            beforeSend: function (req) {
                req.setRequestHeader("Content-Type", "application/json");
            },
            data: {
                imp_key: "1117314894269411",
                imp_secret: "4MVoXXO470Ns6eh1JwDE0MPLmAVGQ10VOVkMT9Q19DtgRLiAhVfhI434FYLw0LsPHMBAWrB645mWQFx7"
            },
            success: function (data) {
                var access_token = data;

                // 빌링키 발급 요청
                $.ajax({
                    url: "https://api.iamport.kr/subscribe/customers/" + sessionEmail,
                    type: "POST",
                    beforeSend: function (req) {
                        req.setRequestHeader("Authorization", access_token);
                    },
                    data: {
                        card_number: card_number,
                        expiry: expiry,
                        birth: birth,
                        pwd_2digits: pwd_2digit
                    },
                    success: function(data) {
                        window.alert(done);
                    }
                })
            }
        })
    }

    function testPayment() {

        console.log("run testPayment()");

        var card_number = $('input[name=card_number]').val();
        var expiry = $('input[name=expiry]').val();
        var birth = $('input[name=birth]').val();
        var pwd_2digit = $('input[name=pwd_2digit]').val();

        done = $('#paymentcomp').text();

        $.ajax({
            url: "/paymentOverToken.do",
            type: "POST",
            data: {
                pg: "paymentwall",
                card: card_number,
                expiry: expiry,
                birth: birth,
                cardPw2digit: pwd_2digit
            },
            success: function (data) {
                console.log("getToken Success!!")

            }
        });
    }


</script>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <div th:insert="sidemenu.html :: side_menu"></div>

    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <div th:insert="topmenu.html :: top_menu"></div>

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800" th:text="#{label.costmanagement}"></h1>
                    <span id="rscgrp" hidden="true" th:text="${session['rscgrp']}"> </span>
                    <span id="done" hidden="true" th:text="#{label.done}"> </span>
                    <span id="paymentcomp" hidden="true" th:text="#{label.paymentcomp}"> </span>
                    <span id="igloosec" hidden="true" th:text="#{label.igloosec}"> </span>
                </div>

                <div class="row">
                    <!-- Area Chart -->
                    <div class="col-xl-12 col-lg-10">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="card shadow h-100 py-2" >
                                    <form action="/subscription/issue-billing" method="post" onsubmit="testPayment();">
<!--                                    <form method="post" action="testBilling()">-->
                                        <div>
                                            <label for="card_number" th:text="#{label.cardnum}"></label>
                                            <input id="card_number" type="text" name="card_number">
                                        </div>
                                        <div>
                                            <label for="expiry" th:text="#{label.cardval}"></label>
                                            <input id="expiry" type="text" name="expiry">
                                        </div>
                                        <div>
                                            <label for="birth" th:text="#{label.birthdate}"></label>
                                            <input id="birth" type="text" name="birth">
                                        </div>
                                        <div>
                                            <label for="cvc" th:text="#{label.cvc}"></label>
                                            <input id="cvc" type="text" name="cvc">
                                        </div>
                                        <input type="submit" th:text="#{label.payment}">
                                    </form>
                                </div>
                                <button onclick="test()">test</button>
                                <button onclick="testBilling()" th:text="#{label.paymentinfo}"></button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="mainfooter.html :: footer"></footer>
    </div>
</div>

</body>

</html>