<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Personal information processing policy</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Monitoring System</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">


</head>


<body>

<div th:fragment="top_menu">
    <!-- Sidebar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>


        <!-- Topbar Navbar -->


    </nav>




</div>
<div id="content-wrapper" class="d-flex flex-column" >



    <div >


    </div>

    <div >


    </div>



    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold ">Personal information processing policy</h6>

                    </div>
                    <div class="card-body">


                        <h1  style="font-size: 20px;  "> IGLOO Security complies with personal information protection regulations and is doing its best to protect users'
                            rights and interests by establishing a personal information processing policy in accordance with relevant laws.</h1>

                        IGLOO Security, INC. (hereinafter referred to as the “Company”) protects the personal information of data subjects in accordance
                        with Article 27-2 of the 「Act on Promotion of Information and Communications Network Utilization and Information Protection, etc.」
                        and Article 30 of 「Personal Information Protection Act」, and establishes and discloses the following personal information handling
                        guidelines to promptly and smoothly handle related grievances.<br>
                        <br>
                        ■ Purpose of processing personal information<br>
                        &nbsp;The company does not collect and process personal information through the headquarters website. If it is necessary to collect and
                        process personal information in the future, necessary measures such as obtaining separate consent in accordance with the 「Personal
                        Information Protection Act」 will be implemented.<br>
                        <br>
                        ■ Processing and retention period of personal information<br>
                        &nbsp;The company does not collect and process personal information through the headquarters website.<br>
                        <br>
                        ■ Rights and obligations of data subjects and how to exercise them<br>
                        &nbsp;① The data subject can exercise the rights related to the protection of personal information in each of the following subparagraphs
                        at any time with respect to the company.<br>

                        &nbsp;&nbsp;1. Request to view personal information<br>
                        &nbsp;&nbsp;2. Request for correction in case of errors, etc.<br>
                        &nbsp;&nbsp;3. Request for deletion<br>
                        &nbsp;&nbsp;4. Request to stop processing<br>
                        <br>
                        &nbsp;② The exercise of the rights pursuant to section 1 can be made to the company in writing, by phone, e-mail, fax, etc., and the company
                        will take action without delay.<br>
                        <br>
                        &nbsp;③ If the data subject requests correction or deletion of personal information, the company will not use or provide the personal information
                        until the correction or deletion is completed.<br>
                        <br>
                        &nbsp;④ The exercise of rights pursuant to section 1 may be done through an agent such as a legal representative of the data subject or a person
                        who has been delegated. In this case, you must submit a power of attorney in the form of Attachment No. 11 of the Enforcement Rule of the
                        「Personal Information Protection Act」.<br>
                        <br>
                        &nbsp;⑤ The data subject must not infringe on the personal information and privacy of the data subject himself or others processed by the
                        company in violation of related laws such as the 「Personal Information Protection Act」.<br>
                        <br>
                        ■ Items of personal information processed<br>
                        &nbsp;The company does not collect and process personal information through the headquarters website.<br>
                        <br>
                        ■ Destruction of personal information<br>
                        &nbsp;The company does not collect and process personal information through the headquarters website.<br>
                        <br>
                        ■ Measures to ensure the stability of personal information<br>
                        &nbsp;The company is taking the following measures to ensure the safety of personal information.<br>
                        &nbsp;&nbsp;1. Administrative measures Establishment and implementation of an internal management plan, regular employee training, etc.<br>
                        &nbsp;&nbsp;2. Technical measures Access right management of personal information processing system, etc., installation of access control system,
                        encryption of unique identification information, installation of security program<br>
                        &nbsp;&nbsp;3. Physical measures Access control of computer room, data storage room, etc.<br>
                        <br>
                        ■ Matters concerning the installation, operation and rejection of automatic personal information collection devices<br>
                        &nbsp;We do not operate a device that collects automatically generated personal information when using Internet services such as cookies.<br>
                        <br>
                        ■ Matters concerning the person in charge of personal information protection<br>
                        &nbsp;① The company is responsible for handling personal information and has designated a person in charge of personal information protection as
                        follows to handle complaints and damage relief from data subjects related to personal information processing.<br>
                        <br>
                        &nbsp;▶ Person in charge of personal information protection<br>
                        &nbsp;&nbsp;- Name: Choi Jeong-ah (Planning & Administration Department)<br>
                        &nbsp;&nbsp;- Position: Director<br>
                        &nbsp;&nbsp;- Phone number: 02-3404-8615<br>
                        &nbsp;&nbsp;- Email: junga.choi@igloosec.com<br>
                        &nbsp;※ You will be connected to the department in charge of personal information protection.<br>
                        &nbsp;② data subjects may inquire about personal information protection related inquiries, complaint handling, damage relief, etc. The company
                        will respond and handle the inquiries of the data subject without delay.<br>
                        <br>
                        ■ Receive and process requests for access to personal information<br>
                        &nbsp;The data subject may file a request for access to personal information in accordance with Article 35 of the Personal Information Protection Act
                        to the following departments. The company will make every effort to promptly process the data subject's request for access to personal information.<br>
                        <br>
                        &nbsp;&nbsp;▶ Department in charge of personal information protection<br>
                        &nbsp;&nbsp;- Department Name: Marketing Team<br>
                        &nbsp;&nbsp;- Phone number: 02-6715-2372<br>
                        &nbsp;&nbsp;- Email : mkt@igloosec.com<br><br>
                        ■ Remedies for Infringement of Rights<br>
                        &nbsp;Data subjects may inquire about damage relief and consultations for personal information infringement to the following organizations.<br>
                        <br>
                        &nbsp; &lt;The following organizations are separate from the company, so if you are not satisfied with the company's own personal information complaint handling
                        and damage relief results, or if you need more detailed support, please contact the below>
                        <br>
                        &nbsp;&nbsp;▶ Personal Information Infringement Report Center (operated by Korea Internet & Security Agency)<br>
                        &nbsp;&nbsp; - Responsibilities: Report personal information infringement, apply for counseling<br>
                        &nbsp;&nbsp; - Homepage: privacy.kisa.or.kr<br>
                        &nbsp;&nbsp; - Tel: (without area code) 118<br>
                        &nbsp;&nbsp; - Address: (58324) 9, Jinheung-gil, Naju-si, Jeollanam-do (301-2 Bitgaram-dong), 3rd floor, Personal Information Infringement Report Center<br>
                        &nbsp;&nbsp; ▶ Personal Information Dispute Mediation Committee<br>
                        &nbsp;&nbsp; - Responsibilities: Personal information dispute mediation application, collective dispute mediation (civil settlement)<br>
                        &nbsp;&nbsp; - Website: www.kopico.go.kr<br>
                        &nbsp;&nbsp; - Tel: (without area code) 1833-6972<br>
                        &nbsp;&nbsp; - Address: 4th floor of Government Complex Seoul, 209 Sejong-daero, Jongro-gu, Seoul (03171)<br>
                        &nbsp;&nbsp; ▶ Supreme Prosecutors' Office Cyber Crime Investigation Team: 02-3480-3573 (www.spo.go.kr)<br>
                        &nbsp;&nbsp; ▶ National Police Agency Cyber Security Bureau: 182 (http://cyberbureau.police.go.kr)<br><br>
                        ■ Changes to the privacy policy<br>
                        &nbsp; This Privacy Policy is effective from January 2, 2020.<br>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>