<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">



<div th:fragment="side_menu">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/main">

            <div class="sidebar-brand-text mx-3">Monitoring System</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active" th:if="${session['rscgrp']} !=''">
            <a class="nav-link" href="/main">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Dashboard</span></a>
        </li>


        <li class="nav-item active" th:if="${session['rscgrp']} !=''">
            <a class="nav-link" href="/cost">
                <i class="fas fa-fw fa-money-check"></i>
                <span th:text="#{label.costmanagement}"> </span></a>
        </li>



        <li class="nav-item active" th:if="${session['rscgrp']} !=''">
            <a class="nav-link" href="/resource">
                <i class="fas fa-fw fa-chart-pie"></i>
                <span  th:text="#{label.resourcemanagement}"></span></a>
        </li>


        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="/member">
                <i class="fas fa-fw fa-user"></i>
                <span th:text="#{label.usermanagement}"></span></a>
        </li>


        <li class="nav-item active" th:if="${session['auth']} !='ROLE_USER'">
            <a class="nav-link" href="/customer">
                <i class="fas fa-fw fa-search"></i>
                <span th:text="#{label.customerinfo}"></span></a>
        </li>

        <li class="nav-item active">
            <a class="nav-link" href="/list">
                <i class="fas fa-fw fa-search"></i>
                <span>Q&A</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>


    </ul>

</div>
<!--

<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" >

    &lt;!&ndash; Sidebar Toggle (Topbar) &ndash;&gt;
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>



    &lt;!&ndash; Topbar Navbar &ndash;&gt;
    <ul class="navbar-nav ml-auto">






        <div class="topbar-divider d-none d-sm-block"></div>

        &lt;!&ndash; Nav Item - User Information &ndash;&gt;
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Dongeun.kim</span>
                <img class="img-profile rounded-circle"
                     src="image/profile.jpg">
            </a>
            &lt;!&ndash; Dropdown - User Information &ndash;&gt;
            <div class="dropdown-menu dropdown-menu-right shadow animated&#45;&#45;grow-in"
                 aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
        </li>

    </ul>

</nav>
-->


<!-- Page Wrapper -->


</html>