<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="mainheader.html :: mainHead">


</head>



<script type="text/javascript">

</script>



<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <div th:insert="sidemenu.html :: side_menu"></div>


    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">


            <div th:insert="topmenu.html :: top_menu"></div>



            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">게시글 수정</h1>

                </div>
                <div class="row">

                    <!-- Area Chart -->
                    <div class="col-xl-12 col-lg-10">
                        <div class="card shadow mb-4">
                            <form action="/updateProc" method="post">
                                <!-- Card Header - Dropdown -->

                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="card shadow h-100 py-2" >
                                        <div class="table-responsive" style="overflow:auto; ">
                                            <div class="form-group ml-3">
                                                <label for="subject1">제목</label>
                                                <input type="text" class="form-control" id="subject1" name="subject" th:value="${DETAIL.subject}">
                                            </div>
                                            <div class="form-group ml-3">
                                                <label for="writer">작성자</label>
                                                <p type="text" class="form-control" id="writer" th:text="${DETAIL.writer}"></p>
                                            </div>

                                            <div class="form-group ml-3">
                                                <label for="content1">내용</label>
                                                <textarea class="form-control" th:value="${DETAIL.content}" th:text="${DETAIL.content}" id="content1" name="content1" rows="10"></textarea>
                                            </div>

                                            <input type="hidden" name="bno" th:value="${DETAIL.bno}"/>
                                        </div>

                                    </div>
                                    <button type="button" class="btn btn-primary mt-2 mr-3 mb-1" th:onclick="'location.href = \'' + @{/detail?bno={bno}(bno=${DETAIL.bno})} + '\''">이전</button>
                                    <button class="btn btn-primary mt-2 mr-3 mb-1 float-right" type="submit">수정</button>

                                </div>
                            </form>
                        </div>
                    </div>


                </div>

            </div>

        </div>

        <footer th:replace="mainfooter.html :: footer"></footer>
    </div>

</div>


<!--    <div class="modal fade" id="updateCheck" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"-->
<!--         aria-hidden="true">-->
<!--        <div class="modal-dialog" role="document">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title" id="checkDeployLabel">정말 수정하시겠습니까?</h5>-->
<!--                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">-->
<!--                        <span aria-hidden="true">×</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--                <form th:action="@{/updateProc}" method="post">-->
<!--                    <div>-->

<!--                        <div class="modal-footer">-->
<!--                            <button class="btn btn-primary" type="submit">등록</button>-->
<!--                            <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>-->

<!--                        </div>-->

<!--                     </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->

</body>






</html>