<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="igloosec.monitor.mapper.MemberMapper">
    <select id="selectMember" resultType="MemberVo" parameterType="String">
        SELECT * FROM USER_LIST
        where email = #{username}
    </select>


    <select id="joinMember" parameterType="MemberVo">
        insert into USER_LIST (email, passwd,regDate,auth,rscGrp,ipAddr,company,qrcord,secretkey)
        values (#{email}, #{passwd},NOW(),#{auth},#{rscGrp},#{ipAddr},#{company},#{qrcord},#{secretkey});



    </select>


    <update id="createTmTable" parameterType="MemberVo">
        CREATE TABLE `is_stats_${rscGrp}` (
                                    `agent_id` VARCHAR(16) NOT NULL,
                                    `table_name` VARCHAR(255) NOT NULL,
                                    `category` VARCHAR(8) NULL DEFAULT NULL,
                                    `stats_period` VARCHAR(8) NOT NULL,
                                    `event_date` DATETIME NOT NULL,
                                    `event_count` BIGINT(20) NULL DEFAULT '0',
                                    `event_undefined` BIGINT(20) NULL DEFAULT '0',
                                    `event_volume` BIGINT(20) NULL DEFAULT '0',
                                    `event_compressed` BIGINT(20) NULL DEFAULT '0',
                                    `update_date` DATETIME NULL DEFAULT current_timestamp()
        )
            COLLATE='utf8mb4_general_ci'
            ENGINE=FEDERATED
            connection='mysql://admin:sp!dertm40@${ipAddr}:13306/esm/is_stats' COLLATE='utf8mb4_general_ci';

    </update>


    <select id="selectMemberList" resultType="MemberVo">
        SELECT company, email,substring(auth,6,10) AS auth,substring(regDate,1,10) AS regDate,rscGrp,ipAddr
        FROM USER_LIST where enabled = 1


    </select>


    <select id="selectProductList" resultType="MemberVo">
        SELECT rscgrp as rscGrp,ipAddr
        FROM product_apply
    </select>


    <update id="updatePw" parameterType="MemberVo">
        update USER_LIST SET passwd = #{passwd} where email = #{email};

    </update>

    <update id="modifyGrpIpMember" parameterType="MemberVo">
        update USER_LIST SET company= #{company}, auth= #{auth} where email = #{email};
    </update>

    <delete id="deleteMember" parameterType="MemberVo">
       delete from USER_LIST where email = #{email};
    </delete>

    <delete id="deleteEquipList" parameterType="MemberVo">
        delete from USER_EQUIP_LIST where email = #{email};
    </delete>

    <delete id="deleteFedTable" parameterType="MemberVo">
        drop table is_stats_${rscGrp};
    </delete>
    <delete id="deleteProductApplyList" parameterType="MemberVo">
        delete from product_apply where apply_id = #{rscGrp};
    </delete>


    <select id="selectDeletePath" resultType="UsageVo">
        SELECT  pathStr, shellDeletecom
        FROM azurecost
        LIMIT 1;
    </select>

<!--    <select id="selectPath"  resultType="String">-->
<!--        SELECT pathStr-->
<!--        FROM azurecost-->
<!--                 LIMIT 1-->
<!--    </select>-->

    <delete id="deleteUserDiskUsage" parameterType="MemberVo">
        DELETE FROM USER_DISK_USAGE WHERE rsg_grp = (SELECT rscGrp FROM USER_LIST WHERE email = #{email})
    </delete>

    <delete id="deleteUsedAmount" parameterType="MemberVo">
        DELETE FROM USED_AMOUNT WHERE resourceGroupName = (SELECT rscGrp FROM USER_LIST WHERE email = #{email})
    </delete>


    <delete id="deleteTmStats" parameterType="MemberVo">
        DELETE FROM tm_stats WHERE rscgrp = (SELECT rscGrp FROM USER_LIST WHERE email = #{email})
    </delete>

    <select id="selectUserProductInfoList" parameterType="String" resultType="MemberVo">
        SELECT a.apply_id AS applyId
             ,c.enabled
             ,c.isAccountNonexpired
             ,c.isAccountNonLocked
             ,c.isCredentialsNonExpired
             ,c.auth
             ,a.email AS email
             ,productName AS product
             ,vendor AS cloud_vendor
             ,region AS country
             ,payment_id AS paymentId
             ,autoscaling_yn AS autoscalingYN
             ,critical_value AS criticalValue
             ,extended_size AS disksize
        FROM
            (
                SELECT * FROM product_apply
                WHERE email = #{email}
            ) a,disk_autoscaling b,USER_LIST c
        WHERE a.apply_id = b.apply_id
          AND a.email = c.email
        ORDER BY a.regDate
    </select>

    <update id="updateUserInfo" parameterType="MemberVo">
        UPDATE USER_LIST SET company= #{company} WHERE email = #{email}
    </update>

    <update id="updateUserDiskAutoscaling" parameterType="MemberVo">
        UPDATE disk_autoscaling
        SET autoscaling_yn = #{autoscalingYN}
          , critical_value = #{criticalValue}
          , extended_size = #{disksize}
        WHERE apply_id = #{applyId}
    </update>

</mapper>


