<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="igloosec.monitor.mapper.HomeMapper">
    <select id="selectUsage" parameterType="UsageVo" resultType="UsageVo">
        SELECT substring(event_date,9,2) AS idate ,round(event_volume/1024/1024) AS usage_data FROM ERD.tm_stats
        WHERE event_date LIKE '${paramDate}%' AND rscgrp ='${rscparam}'
    </select>


    <select id="selectUsagebefore" parameterType="UsageVo"  resultType="UsageVo">
        SELECT substring(event_date,9,2) AS idate ,round(event_volume/1024/1024) AS usage_data FROM ERD.tm_stats
        WHERE event_date LIKE '${paramDate}%' AND rscgrp ='${rscparam}'
    </select>


    <select id="selectMeterDetail" parameterType="UsageVo" resultType="UsageVo">
        SELECT meterCategory,meterSubCategory,ROUND(quantity,2) AS quantity, unitOfMeasure FROM(

             SELECT meterCategory,meterSubCategory, sum(quantity) AS quantity, unitOfMeasure FROM ERD.USED_AMOUNT
             WHERE substring(DATE,1,2) ='${paraMonth}' AND substring(DATE,7,10) ='${paraYear}' and resourceGroupName ='${rscparam}'
             GROUP BY meterCategory, unitOfMeasure, meterSubCategory ORDER BY quantity desc
        )a where quantity <![CDATA[>=]]> 0.01
    </select>


    <select id="selectMeterSum" parameterType="UsageVo"  resultType="UsageVo">
        SELECT meterCategory, round(SUM(costInBillingCurrency),2) as costInBillingCurrency FROM ERD.USED_AMOUNT
        WHERE substring(DATE,1,2) ='${paraMonth}' AND substring(DATE,7,10) ='${paraYear}' and resourceGroupName ='${rscparam}'
        GROUP BY meterCategory;

    </select>


    <select id="registerLog" parameterType="UsageVo">
        insert into ERD.USER_EQUIP_LIST (email, equip,usages)
        values (#{emailparam}, #{equipparam},${usageparam});
    </select>


</mapper>


